.main {
  padding: 5rem 0;
}

.searchBarContainer {
  display: flex;
  justify-content: center;
}

.cryptoTable {
  padding: 1rem;
  overflow-x: scroll;
}

.buttonContainer {
  display: flex;
  justify-content: center;
}

.plus {
  color: green;
  font-weight: 400;
}

.negative {
  color: red;
  font-weight: 400;
}

.neutral {
  color: orange;
  font-weight: 400;
}
